# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# by Loreto
# va bene sia */.pio/ che .pio/ anche se su sotto directory

# dirs
AIQuestions/
.pio/
.vscode/
.venv
**/build/*
**/libdeps/*

# files
*.o
*.ko
*.obj
*.elf
.activate
.lnactivate
*ssids*.h